{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "warn",
    "no-unused-vars": "warn"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "ignorePatterns": ["/node_modules/**", "/build/**"]
}
