.contact-form {
  flex-direction: column;
  padding: 0 0 10px;
  max-width: 800px;

  & .screen_group {
    &:first-child {
      margin-top: 4px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.application-sent-modal {
  color: var(--tg-theme-text-color);
  font-family: Open-Sans, sans-serif;
  padding: 18px;
  margin: 12px;
  text-align: center;

  & > h3 {
    margin: 0 0 8px;
  }

  & > p {
    margin: 0 0 12px;
    line-height: 28px;
    font-size: 16px;
  }
}
