:root {
  --tg-theme-bg-color: rgb(24, 24, 25);
  --tg-theme-text-color: #fff;
  --tg-theme-hint-color: #000;
  --tg-theme-link-color: rgb(60, 188, 213);
  --tg-theme-button-color: #3dbdd6;
  --tg-theme-button-text-color: #fff;
  --tg-theme-secondary-bg-color: #272626;
}

