:root {
  --tg-theme-bg-color: #181819;
  --tg-theme-text-color: #fff;
  --tg-theme-hint-color: #000;
  --tg-theme-link-color: #3cbcd5;
  --tg-theme-button-color: #3dbdd6;
  --tg-theme-button-text-color: #fff;
  --tg-theme-secondary-bg-color: #272626;
}
