.file-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;

  &_input {
    width: 0;
    height: 0;
    position: absolute;
    visibility: hidden;
  }

  &_clip {
    max-width: 30px;
    max-height: 30px;
    margin-right: 12px;
  }

  &_spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_text {
    color: var(--tg-theme-link-color);
    font-family: Open-Sans, sans-serif;
    font-size: 14px;
    word-break: break-word;
  }

  &_error {
    position: absolute;
    font-family: Open-Sans, sans-serif;
    font-size: 10px;
    color: #f00;
    top: 42px;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}
