.main-menu {
  flex-direction: row;
  align-content: space-evenly;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;

  &_item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 180px;
    height: 170px;
    cursor: pointer;

    &_image {
      width: 100px;
      user-select: none;
    }

    &_text {
      font-family: Open-Sans, sans-serif;
      font-size: 14px;
      color: var(--tg-theme-text-color);
      user-select: none;
    }
  }
}
