.text-input {
  position: relative;
  width: 100%;

  &_input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--tg-theme-text-color);
    padding: 12px 12px;
    font-family: Open-Sans, sans-serif;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
      color: #808080;
    }
  }

  &_error {
    font-family: Open-Sans, sans-serif;
    font-size: 10px;
    position: absolute;
    color: #f00;
    top: 32.5px;
    right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 24px);
    transition: top 300ms ease;
  }

  &_label {
    color: #808080;
    font-size: 14px;
    font-family: Open-Sans, sans-serif;
    position: absolute;
    transform: translate(12px, 12px);
    left: 0;
    top: 0;
    cursor: text;
    transition: transform 300ms ease, font-size 300ms ease;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 24px);

    &__floating {
      transform: translate(12px, 32px);
      font-size: 10px;
      cursor: default;
    }
  }
}
