.service-description {
  padding: 16px;
  justify-content: space-between;

  &_message {
    &_logo-image {
      width: 200px;
      height: 150px;
      padding: 12px 8px;

      & .SimpleIT-notebook_svg__fil0 {
        fill: var(--tg-theme-text-color);
      }

      & .SimpleIT-notebook_svg__fil1 {
        fill: var(--tg-theme-link-color);
      }
    }
  }

  &_controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_empty {
      width: 40px;
      height: 40px;
      background-color: transparent;
    }

    & > svg {
      cursor: pointer;
    }
  }
}
